:root {
  --bodyFont: "Biotif", sans-serif;
  --headingFont: "Neuzeit Grotesk Bold", sans-serif;

  --primaryColor: #f2f2f2;
  --secondaryColor: #8f9ba8;
  --backgroundColor: #08070b;

  --navHeightDesktop: 60px;
  --navHeightMobile: 110px;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
}

.iframe-wrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  margin-bottom: 18px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.iframe-wrap iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

twitterwidget {
  margin: 0 auto;
}

code {
  background: rgba(0, 0, 0, 0.05);
  font-size: 18px;
  padding: 5px;
}

kbd {
  color: var(--backgroundColor);
  background: var(--secondaryColor);
  padding: 0px 4px;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

/* Navbar
   ========================================================================== */

.site-header {
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--bodyFont);
  font-size: 12px;
  min-height: 59px;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: 3;
}

.logo {
  transition: opacity 0.3s ease-in-out;
  color: white;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-family: var(--headingFont);
}

.logo:hover {
  opacity: 0.7;
}

.site-nav {
  text-align: center;
  flex: 1;
  order: 2;
  flex-basis: 100%;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.site-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.site-nav .active a {
  color: #eee;
}

.site-nav a {
  transition: color 0.3s ease-in-out;
  color: var(--secondaryColor);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 12px;
  padding: 20px 10px;
  position: relative;
}

.site-nav a:hover {
  color: var(--primaryColor);
}

.site-nav .nav-active {
  color: var(--primaryColor);
}

.site-nav a::after {
  content: "";
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  bottom: 15px;
  height: 1px;
  width: 20px;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.site-nav .nav-active::after {
  opacity: 1;
}

@media (min-width: 425px) {
  .site-nav a {
    padding: 20px 10px;
  }

  .site-nav > ul {
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .site-nav {
    overflow-x: scroll;
  }
}

@media (min-width: 720px) {
  .site-nav {
    order: 0;
    flex-basis: initial;
    margin-left: 0;
  }

  .site-nav > ul {
    width: auto;
  }

  .site-nav a {
    padding: 20px;
  }

  .main {
    padding-top: var(--navHeightDesktop);
  }
}

.nav-social {
  display: flex;
  align-items: center;
  padding-right: 12px;
  margin-left: auto;
}

.nav-social a {
  transition: opacity 0.3s ease-in-out;
  margin-left: 10px;
}

.nav-social a:hover {
  opacity: 0.7;
}

.nav-social img {
  width: 20px;
  height: 20px;
}

svg {
  width: 32px;
  height: 32px;
  fill: white;
}

/* Contact
   ========================================================================== */

.btn-transparent {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.btn-contact {
  color: var(--secondaryColor);
  padding: 0;
  margin: 20px 0 0;
  font-family: var(--bodyFont);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  font-size: 16px;
}

.btn-contact:hover {
  color: var(--primaryColor);
}

.btn-contact:hover kbd {
  background: var(--primaryColor);
}

/* Post
   ========================================================================== */

.main {
  padding-top: var(--navHeightMobile);
}

.post {
  overflow: hidden;
}

.post-header {
  background-color: #141618;
  min-height: 600px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.post-image {
  background-color: #141618;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: transform;
}

.post-image::after {
  content: "";
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 50%,
    transparent 90%,
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
}

@media (max-width: 1024px) {
  .post-image {
    position: absolute;
  }
}

.post-content .post-title {
  font-family: var(--bodyFont);
  text-align: center;
}

.post-header .post-title {
  color: #fff;
  margin: 59px auto 0;
  position: relative;
  z-index: 3;
  font-size: 60px;
  font-family: var(--bodyFont);
  line-height: 80px;
}

.post-content .post-title {
  color: var(--primaryColor);
  margin: 90px auto 0;
  max-width: none;
  font-size: 48px;
  line-height: 60px;
}

.post-content .post-image-full {
  margin: 20px 0 0;
  margin-left: -20px;
  max-width: initial;
  width: 100vw;
}

.post-content .post-image-caption {
  color: var(--secondaryColor);
  text-align: center;
  font-size: 14px;
}

figure {
  margin: 0;
}

.post-subtitle {
  color: #fff;
  font-size: 16px;
  font-family: var(--bodyFont);
  font-weight: 500;
  text-align: center;
}

.post-header .post-subtitle {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  margin: 0;
  width: 100%;
}

.post-content .post-subtitle {
  color: var(--secondaryColor);
  font-size: 16px;
  margin: 0 0 60px;
}

.post-content {
  font-family: var(--bodyFont);
  font-size: 16px;
  line-height: 36px;
  color: var(--secondaryColor);
  background: var(--backgroundColor);
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 90px 0;
}

.post-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
}

.post-content p {
  margin: 20px 0 0;
  color: var(--secondaryColor);
}

.post-content strong {
  color: var(--primaryColor);
  font-weight: normal;
}

.post-content blockquote,
.post-content blockquote p {
  font-family: "Verveine Regular", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 36px;
  line-height: 44px;
  margin: 48px 0 48px 0;
}

.post-content a {
  border-bottom: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.post-content a:hover,
.post-content a:focus {
  opacity: 0.8;
}

.post-content img {
  min-width: 100%;
  max-width: 100%;
}

.post-title {
  text-align: center;
}

.post-content h1 {
  font-family: var(--headingFont);
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 20px;
  color: var(--primaryColor);
}

.post-content h2 {
  color: var(--primaryColor);
  margin: 20px 0 0;
  font-size: 24px;
}

.post-content h3,
.post-content h3 a {
  color: var(--primaryColor);
  font-size: 18px;
  margin: 20px 0 0;
}

.post-content ul {
  margin: 0;
}

.post-content .manifesto {
  font-size: 16px;
  font-family: var(--bodyFont);
  margin-left: 0;
  text-align: justify;
  color: var(--secondaryColor);
}

@media (min-width: 700px) {
  .post-content .post-title {
    margin-top: 0;
  }

  /*
   * Math break:
   *   viewport width: 100vw
   *   .post-container width: 700px
   *   remainder: (100vw - 700px)
   *   want to shift the image by half of the remainder, so: (100vw - 700px) / 2
   *   and apply it as a negative margin: -1 * (100vw - 700px) / 2)
   */
  .post-content .post-image-full {
    margin-left: calc(-1 * (100vw - 700px) / 2);
  }

  .post-title {
    font-size: 72px;
    line-height: 90px;
    max-width: 60%;
  }
}

/* Articles
   ========================================================================== */

.post-content .article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-content .article-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.post-content .article-item:last-child {
  border: 0;
}

.post-content .article-link {
  border: 0;
  color: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  min-height: 36px;
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  flex-direction: column;
}

.post-content .article-link:hover,
.post-content .article-link:focus {
  border: 0;
  opacity: 0.5;
}

.post-content .article-title,
.post-content .article-date {
  display: block;
}

.post-content .article-title {
  max-width: 500px;
  font-family: var(--bodyFont);
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

.post-content .article-date {
  color: var(--secondaryColor);
  font-family: var(--bodyFont);
  font-weight: 500;
  font-size: 14px;
  min-width: 100px;
  text-align: left;
}

@media (min-width: 700px) {
  .post-content .article-link {
    flex-direction: row;
  }

  .post-content .article-date {
    text-align: right;
  }
}

/* Divider
   ========================================================================== */

.divider {
  background: #1c1d21;
  height: 300px;
  margin-top: 90px;
  overflow: hidden;
  position: relative;
}

.top-divider {
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-right: 100vw solid transparent;
}

.icon-divider {
  margin: 0 auto;
  width: 32px;
  padding: 32px;
}

.bottom-divider {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0px;
  border-bottom: 100px solid white;
  border-left: 100vw solid transparent;
}

.icon-mail {
  transform: scale(1.75);
}

.icon-color-primary {
  fill: #a5b3bb;
}

.icon-color-secondary {
  fill: #fff;
}

/* Updates
   ========================================================================== */

.post-content .update-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin: 90px 0 30px;
  text-align: center;
}

.post-content .update-description {
  text-align: center;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form:before,
.form:after {
  display: table;
  line-height: 0;
  content: "";
}

.form:after {
  clear: both;
}

.form * {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
  float: left !important;
}

.form input[type="email"] {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 15px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-right: 0;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
  background-position: top right;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: caret;
  width: 65% !important;
  height: 40px !important;
}

.form input[type="submit"] {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  display: inline-block;
  padding: 11px 15px 12px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 100%;
  height: 40px !important;
  width: 35% !important;
  background: rgba(0, 0, 0, 0.7);
}

/* Fonts
   ========================================================================== */

@font-face {
  font-family: "Neuzeit Grotesk Bold";
  src: url("/static/font/NeuzeitGrotesk-Bold.woff2") format("woff2"),
    url("/static/font/NeuzeitGrotesk-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotif";
  src: url("/static/font/Biotif-Bold.woff2") format("woff2"),
    url("/static/font/Biotif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biotif";
  src: url("/static/font/Biotif-SemiBold.woff2") format("woff2"),
    url("/static/font/Biotif-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Biotif";
  src: url("/static/font/Biotif-Book.woff2") format("woff2"),
    url("/static/font/Biotif-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Biotif";
  src: url("/static/font/Biotif-Regular.woff2") format("woff2"),
    url("/static/font/Biotif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotif";
  src: url("/static/font/Biotif-RegularItalic.woff2") format("woff2"),
    url("/static/font/Biotif-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
