<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'zenorocha',
      disqus_url = '';

  {% if page.oldUrl %}
  disqus_url = "{{ page.oldUrl }}";
  {% else %}
  disqus_url = "https://zenorocha.com{{ page.url }}";
  {% endif %}

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>