{% if site.google-analytics-tracking-id %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google-analytics-tracking-id }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- jQuery Infinite Scrolling -->
<script type='text/javascript' src='{{ site.baseurl }}assets/jquery.infinitescroll.min.js'></script>
<script>
// infinitescroll() is called on the element that surrounds
// the items you will be loading more of
$('ul#posts').infinitescroll({
	navSelector		: "p.pagination",
					// selector for the paged navigation (it will be hidden)
	nextSelector	: "p.pagination a.older",
					// selector for the NEXT link (to page 2)
	itemSelector	: "#content ul#posts li.post"
					// selector for all items you'll retrieve
});
</script>

</body>
</html>