<ul class="social-links">
  <li><a class="social-twitter" href="http://twitter.com/zenorocha"></a></li>
  <li><a class="social-facebook" href="http://www.facebook.com/zenorocha"></a></li>
  <li><a class="social-github" href="https://github.com/zenorocha"></a></li>
  <li><a class="social-email" href="mailto:hi@zenorocha.com"></a></li>
  <li><a class="social-rss" href="http://feeds.feedburner.com/zenorocha"></a></li>
</ul>

<!-- Inspectlet -->
<script>
  window.__insp = window.__insp || [];
  __insp.push(['wid', 772378335]);
  (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent){
      window.attachEvent('onload', __ldinsp);
    }else{
      window.addEventListener('load', __ldinsp, false);
    }
  })();
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4114546-2', 'auto');
  ga('send', 'pageview');
</script>

<!-- jQuery Infinite Scrolling -->
<script src='{{ site.baseurl }}assets/js/jquery.infinitescroll.min.js'></script>
<script>
// infinitescroll() is called on the element that surrounds
// the items you will be loading more of
$('ul#posts').infinitescroll({
  navSelector   : "p.pagination",
          // selector for the paged navigation (it will be hidden)
  nextSelector  : "p.pagination a.older",
          // selector for the NEXT link (to page 2)
  itemSelector  : "#content ul#posts li.post"
          // selector for all items you'll retrieve
});
</script>

<script src='{{ site.baseurl }}assets/js/fokus.min.js'></script>

</body>
</html>
