<!doctype html>
<html lang="en">
<head>

  <title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Facebook -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}"/>
  <meta property="og:site_name" content="Zeno Rocha"/>
  <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

  <!-- Twitter Analytics -->
  <meta property="twitter:account_id" content="1510104138" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/favicon.ico" type="image/x-icon" />

  <!-- Font -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ site.feedburnerurl }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css?v=2" type="text/css" />

  <!-- jQuery -->
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

  <!-- Syntax Highlight -->
  <link rel="stylesheet" type="text/css" href="http://media.zenorocha.com/pretiffy.css" />
  <script src="http://media.zenorocha.com/pretiffy.js"></script>
  <script src="http://media.zenorocha.com/pretiffy-lang-css.js"></script>

  <!-- Main -->
  <script src='{{ site.baseurl }}assets/js/main.js'></script>

  <!-- Modernizr adding css classes -->
  <script src='{{ site.baseurl }}assets/js/modernizr_css_classes.js'></script>

</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %} onload="prettyPrint()">