<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>

	<title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

	{% if site.feedburnerurl %}
	<link rel="alternate" type="application/rss+xml" href="{{ site.feedburnerurl }}">
	{% else %}
	<link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}feed">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="{{ site.description }}" />

	<!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}assets/normalize.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}assets/styles.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/custom.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/projects.css" type="text/css" />

	<!-- jQuery -->
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

	<!-- Responsive menu -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/menu.js'></script>

	<!-- jQuery Markdown Footnotes -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/jquery.markdownFootnotes.js'></script>

	<!-- Active nav class -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/activenav.js'></script>

	<!-- Modernizr adding css classes -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/modernizr_css_classes.js'></script>

</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>