<div id="masthead">

  <a href="{{ site.baseurl }}">
    <img id="zeno-illustration" src="{{ site.baseurl }}assets/img/zeno-html5.png" alt="Zeno Rocha's Illustration" />
  </a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description">Front-end Engineer</p>

	<ul id="pagenav">
    <li><a href="{{ site.baseurl }}blog">Blog</a></li>
    <li><a href="{{ site.baseurl }}talks">Talks</a></li>
    <li><a href="{{ site.baseurl }}projects">Projects</a></li>
  </ul>

</div> <!--/masthead-->