.ua-webkit p,
.ua-webkit h2,
.ua-webkit h2,
.ua-webkit ul,
.ua-webkit ul li:after,
.ua-webkit ul li:last-child:after {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
body {
  color: #ffffff;
  font-family: skolar, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  margin: 80px auto;
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -2px;
  -webkit-tap-highlight-color: #d6b2a4;
}
div.strip {
  display: none;
}
.ua-desktop div.strip {
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px;
  margin: 80px 0;
  display: block;
}
.ua-gecko div.strip,
.ua-ie div.strip {
  display: none;
}
div.strip span {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in 0.3s;
  display: block;
  margin: 0 auto;
  line-height: 150px;
  width: 80%;
}
div.strip span:before {
  content: 'Hello friend!';
}
div.strip:hover > span {
  opacity: 1;
}
.ua-webkit body {
  background: none;
}
p {
  font-weight: normal;
  width: 80%;
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 50px auto;
}
strong {
  font-weight: bold;
  font-family: skolar, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}
h1 {
  display: none;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 50px;
  width: 80%;
  margin: 40px auto 15px auto;
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  display: block;
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  border-bottom: 1px solid #d6b2a4;
  padding-bottom: 0;
}
ul li {
  display: inline;
}
ul li:after {
  content: ', ';
  background: url(../img/face.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul li:last-child:after {
  content: '.';
}
::-moz-selection {
  background: #d6b2a4;
  color: #fff;
}
::selection {
  background: #d6b2a4;
  color: #fff;
}
