.view {
   width: 280px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 10px solid #fff !important;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   background: #fff no-repeat center center;
   display: block;
}
.view .content {
   width: 280px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   -webkit-filter: hue-rotate(0deg);

}
.view-first img {
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
}

.view-first:hover img {
   -webkit-filter: hue-rotate(90deg);
}