	body {
		margin: 0px;
		background: #cdd6d6 url(../img/bg-repeat.jpg) fixed top center;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #474747;
		font-size: 13px;
		line-height: 20px;
		font-weight: bold;
	}
	
	@-webkit-keyframes zoomin {
		from 	{-webkit-transform: scale(0.1);  opacity: 0;	}
		50%		{-webkit-transform: rotate(-1deg);				}
		to  	{-webkit-transform: scale(1);    opacity: 1;	}
	}
	
	.infocard {
		margin: 50px auto 50px auto;
		width: 500px;
		background: #fff url(../img/noise.png);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
		-o-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
		border: 1px solid #fff;
		padding: 50px;
		-webkit-animation-name: zoomin;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in-out;
	}
	
	h2 {
		text-transform: uppercase;
		font-size: 11px;
		border-bottom: 1px solid #dbdbdb;
		padding: 5px 0px;
		margin: 0px;
	}
	
	ul {
		padding-left: 100px;
		margin: 0px;
	}
	
	li {
		list-style-type: none;
		border-bottom: 1px solid #dbdbdb;
		padding: 3px 0px;
		width: 400px;
	}
	
	span {
		float: right;
		color: #d3d3d3;
		font-weight: normal;
		font-family: 'Neuton', Georgia, serif;
	}
	
	.face {
		background: url(../img/face.jpg) no-repeat;
		margin-bottom: 20px;
		margin-left: -5px;
		float: left;
		opacity: 1;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 70px;
		height: 70px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
	
	.face:hover {
		opacity: 0.8;
	}
	
	.header {
		height: 120px;
	}
	
	.title {
		float: left;
		margin-left: 33px;
	}
	
	.title h1 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 28px;
		font-family: 'Neuton', Georgia, serif;
		font-weight: normal;
	}
	
	p {
		margin: 0px;
		color: #d3d3d3;
		font-weight: normal;
		font-family: 'Neuton', Georgia, serif;
		text-transform: uppercase;
		font-style: normal;
		letter-spacing: 1px;
		font-size: 11px;
		color: #a4a4a4;
	}
	
	b {
		font-weight: normal;
		text-transform: lowercase;
		letter-spacing: 0;
		font-style: italic;
		font-family: Georgia, serif;
	}
	
	li:last-child {
		border-bottom: none;
	}
	
	/* @group Favicons */
		.quora .favicon {
				background: url(../img/favsprite.png) -240px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.gplus .favicon {
				background: url(../img/favsprite.png) -272px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.svpply .favicon {
				background: url(../img/favsprite.png) -256px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
		
			.goodreads .favicon {
				background: url(../img/favsprite.png) -224px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.portfolio .favicon {
				background: url(../img/favsprite.png) -48px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.tumblr .favicon {
				background: url(../img/favsprite.png) -64px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.twitter .favicon {
				background: url(../img/favsprite.png) -160px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.flickr .favicon {
				background: url(../img/favsprite.png) -96px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.facebook .favicon {
				background: url(../img/favsprite.png) -80px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.vimeo .favicon {
				background: url(../img/favsprite.png) -192px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.pinboard .favicon {
				background: url(../img/favsprite.png) 0px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.lastfm .favicon {
				background: url(../img/favsprite.png) -144px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.skype .favicon {
				background: url(../img/favsprite.png) -176px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.googletalk .favicon {
				background: url(../img/favsprite.png) -128px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.email .favicon {
				background: url(../img/favsprite.png) -112px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.grid .favicon {
				background: url(../img/favsprite.png) -16px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.dribbble .favicon {
				background: url(../img/favsprite.png) -32px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			
			.github .favicon {
				background: url(../img/favsprite.png) -208px 0px no-repeat;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
	/* @end Favicons */
	
	a, span {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		line-height: 20px;
	}
	
	.csstransitions a, .csstransitions span {
		-webkit-transition-delay: 0.15s;
		-moz-transition-delay: 0.15s;
		-o-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}
	
	a {
		text-decoration: none;
		color: #474747;
		display: block;
		padding: 4px 0px;
	}
	
	a:hover, a:active {
		background-color: #fffbcb;
		background-position: 20px 6px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}
	
	.csstransitions a:hover, .csstransitions a:active {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -120px;
		margin-right: -20px;
	}
		
	a:hover span {
		color: #474747;
	}
	
	.footer {
		text-align: center;
		color: rgba(255,255,255,0.3);
		font-weight: normal;
		font-size: 11px;
		margin-bottom: 25px;
	}
	
	/* @group Layout for mobile version */
		@media only screen and (max-width: 600px) {
			
			html {
				border-top: 6px solid #333;
			}
			
			.header {
				height: 100px;
				margin-top: -10px;
			}
			
			ul {
				padding-left: 0px;
				margin-bottom: 15px;
			}
			
			li {
				width: 100%;
			}
			
			body {
				background: #fff url(../img/noise.png);
				margin: 30px;
				-webkit-text-size-adjust: none;
			}
			
			span, p {
				color: #a4a4a4;
			}
			
			.infocard {
				background: url(blank.png);
				width: 100%;
				margin: 0px;
				padding: 0px;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				-webkit-box-shadow: 0px 0px 0px #fff;
				-moz-box-shadow: 0px 0px 0px #fff;
				-o-box-shadow: 0px 0px 0px #fff;
				box-shadow: 0px 0px 0px #fff;
				border: none;
			}
			
			a:hover, a:active, .csstransitions a:hover, .csstransitions a:active {
				padding-left: 15px;
				margin-left: -15px;
				padding-right: 15px;
				margin-right: -15px;
			}
			
			.face {
				float: right;
				margin-right: -5px;
			}
			
			.title {
				float: left;
				margin-left: 0px;
			}
			
			.footer {
				color: rgba(0,0,0,0.3);
			}
			
			p {
				font-size: 10px;
			}
			
			h1 {
				font-size: 26px;
			}
		
		}
	/* @end */

	/* @group Provide higher res assets for iPhone 4 */
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
				.face {
					background: url(../img/face@2x.jpg) no-repeat;
					background-size: 70px 70px;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border-radius: 100px;
				}
		}
	/* @end */

	
	