<header class="site-header {{#unless image }}site-header-white{{/unless}}">
  <a href="/" class="logo">zeno</a>

  <nav class="site-nav">
    <ul>
      <li><a href="/articles/">Articles</a></li>
      <li><a href="/talks/">Talks</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/reminder/">Reminder</a></li>
    </ul>
  </nav>

  <div class="nav-social">
    <a href="https://twitter.com/zenorocha" target="_blank" title="Twitter">
      <img src="/images/icon-twitter.svg" alt="Twitter">
    </a>
    <a href="https://instagram.com/zenorocha" target="_blank" title="Instagram">
      <img src="/images/icon-instagram.svg" alt="Instagram">
    </a>
    <a href="https://github.com/zenorocha" target="_blank" title="GitHub">
      <img src="/images/icon-github.svg" alt="GitHub">
    </a>
  </div>
</header>