{% include header.html %}

  {% include nav.html %}

  <div class="container" id="archive">

    <div id="content">
      <h1 class="posttitle">{{ page.title }}</h1>

      {{ content }}


      <ul class="archivenav">
        <li class="selected">All posts</li>
        <li><a href="{{ site.baseurl }}archive-articles/">Articles</a></li>
      </ul>

      <div class="clear"></div>

      {% for post in site.posts %}
      {% unless post.draft %}
        {% capture cmonth %}{{ post.date | date: "%B" }}{% endcapture %}
        {% unless lmonth == cmonth %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2>{{ cmonth }} {{ post.date | date: "%Y" }}</h2>
        <ul class="archivelist">
        {% assign lmonth = cmonth %}
        {% endunless %}
            {% if post.link %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% else %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
      {% endunless %}
      {% endfor %}
      </ul>

    </div> <!-- /content -->
  </div> <!-- /container -->

{% include footer.html %}