{% include header.html %}

  {% include nav.html %}

  <div class="container" id="archive">

    <div id="content">
      <h1 class="posttitle">{{ page.title }}</h1>

      {{ content }}

      <ul class="archivenav">
        <li><a href="{{ site.baseurl }}archive/">All posts</a></li>
        <li class="selected">Articles</li>
      </ul>

      <p>Note: There is an <a href="http://feeds.feedburner.com/andytaylor-articles">RSS feed</a> that only contains articles.</p>

      <div class="clear"></div>

      {% for post in site.posts %}
      {% unless post.draft %}
      {% unless post.link %}
        {% capture cmonth %}{{ post.date | date: "%B" }}{% endcapture %}
        {% unless lmonth == cmonth %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2>{{ cmonth }} {{ post.date | date: "%Y" }}</h2>
        <ul class="archivelist">
        {% assign lmonth = cmonth %}
        {% endunless %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endunless %}
      {% endunless %}
      {% endfor %}
      </ul>

    </div> <!-- /content -->
  </div> <!-- /container -->

{% include footer.html %}