{% include header.html %}

  {% include nav.html %}

  <div class="container">

  <div id="content">

    {{ content }}

    <ul id="posts">
      {% for post in paginator.posts %}
      {% unless post.draft %}
        <li class="post">
        {% if post.link %}
        <h2 class="linktitle"><a href="{{ post.link }}">{{ post.title }}</a>&nbsp;<a href="{{ post.url }}" class="infin">&infin;</a></h2>
        {% else %}
        <h2 class="posttitle"><a href="{{ post.url }}" class="articletitle">{{ post.title }}</a></h2>
      <p class="date articledate">{{ post.date | date:"%d/%m/%Y" }}</p>
        {% endif %}

        {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
        <p><a href="{{ post.url }}">
          {% if post.language == "en" %}
          <strong>Continue reading&#8230;</strong>
          {% else %}
          <strong>Continue lendo&#8230;</strong>
          {% endif %}
        </a></p>
        {% else %}
        {{ post.content }}
        {% endif %}
        </li>
      {% endunless %}
      {% endfor %}
    </ul>


    <p class="pagination">
    {% if paginator.previous_page %}

      {% if paginator.previous_page == 1 %}
      <a class="newer" href="/blog">Anterior</a>

      {% else %}
      <a class="newer" href="/blog/page{{paginator.previous_page}}">Anterior</a>
      {% endif %}

    {% else %}
    <span class="newer">Anterior</span>
    {% endif %}

    <span>Página {{paginator.page}} de {{paginator.total_pages}}</span>
    {% if paginator.next_page %}
    <a class="older" href="/blog/page{{paginator.next_page}}">Próxima</a>
    {% else %}
    <span class="older">Próxima</span>
    {% endif %}
    </p>

  </div> <!--/content-->
  </div> <!--/container-->

{% include footer.html %}