{% include header.html %}

	{% include nav.html %}

	<div class="container">

		<div id="content" class="post">

		{% if page.link %}
		<h1 class="linktitle"><a href="{{ page.link }}">{{ page.title }}</a></h1>
		<p class="date">{{ page.date | date:"%d/%m/%Y" }}</p>
		{% else %}
		<h1 class="posttitle">{{ page.title }}</h1>
		<p class="date articledate">{{ page.date | date:"%d/%m/%Y" }}</p>
		{% endif %}

		{{ content }}

		{% include disqus.html %}

		<a rel="author" class="hide" href="https://profiles.google.com/zno.rocha">Zeno Rocha</a>

		<!-- Tweet button -->
		<div class="tweet">
		<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none" data-dnt="true">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>

		</div> <!-- /content -->
	</div> <!-- /container -->

{% include footer.html %}