{% include header.html %}

  {% include nav.html %}

  <div class="container">

    <div id="content" class="post">

    {% if page.link %}
    <h1 class="linktitle"><a href="{{ page.link }}">{{ page.title }}</a></h1>
    <p class="date">{{ page.date | date:"%d/%m/%Y" }}</p>
    {% else %}
    <h1 class="posttitle">{{ page.title }}</h1>
    <p class="date articledate">{{ page.date | date:"%d/%m/%Y" }}</p>
    {% endif %}

    {{ content }}

    <a rel="author" style="visibility: hidden;" href="https://profiles.google.com/zno.rocha">Zeno Rocha</a>

    {% include disqus.html %}

    </div> <!-- /content -->
  </div> <!-- /container -->

{% include footer.html %}